{%- assign fullUrl = meta.url | append: page.url -%}

{%- assign pageTitle = meta.siteName -%}
{%- if schema == 'blog' -%}
  {%- assign pageTitle = title -%}
{%- elsif title -%}
  {%- assign pageTitle = title | append: ' • ' | append: meta.siteName -%}
{%- elsif artist.name_string -%}
  {%- assign pageTitle = 'Artists • ' | append: artist.name_string | append: ' • ' | append: meta.siteName -%}
{%- elsif schema == 'music-index' -%}
  {%- assign pageTitle = 'Music • ' | append: meta.siteName -%}
{%- elsif genre.name -%}
  {%- assign pageTitle = 'Music • ' | append: genre.name | append: ' • ' | append: meta.siteName -%}
{%- elsif book.title -%}
  {%- assign pageTitle = 'Books • ' | append: book.title | append: ' • ' | append: meta.siteName -%}
{%- elsif movie.title -%}
  {%- assign pageTitle = 'Movies • ' | append: movie.title -%}
  {%- if movie.rating -%}
    {%- assign pageTitle = pageTitle | append: ' (' | append: movie.rating | append: ')' -%}
  {%- endif -%}
  {%- assign pageTitle = pageTitle | append: ' • ' | append: meta.siteName -%}
{%- elsif show.title -%}
  {%- assign pageTitle = 'Shows • ' | append: show.title | append: ' • ' | append: meta.siteName -%}
{%- endif -%}

{%- assign pageDescription = meta.siteDescription -%}
{%- if schema == 'blog' -%}
  {%- assign pageDescription = post_excerpt | markdown | strip_html -%}
{%- elsif artist.description -%}
  {%- assign pageDescription = artist.description | truncate: 300 -%}
{%- elsif book.description -%}
  {%- assign pageDescription = book.description -%}
{%- elsif movie.description -%}
  {%- assign pageDescription = movie.review | default: movie.description | truncate: 300 -%}
{%- elsif show.description -%}
  {%- assign pageDescription = show.review | default: show.description | truncate: 300 -%}
{%- elsif genre.description -%}
  {%- assign pageDescription = genre.description | markdown | strip_html | truncate: 300 -%}
{%- elsif description -%}
  {%- assign pageDescription = description -%}
{%- endif -%}

{%- assign ogImage = meta.meta_data.opengraph_default -%}
{%- case schema -%}
  {%- when 'blog' -%}
    {%- assign ogImage = meta.url | append: '/assets/img/ogi/' | append: title | slugifyString | append: '-preview.png' -%}
  {%- when 'music' -%}
    {%- assign ogImage = music.recent.artists[0].image -%}
  {%- when 'music-index' -%}
    {%- assign ogImage = music.recent.artists[0].image -%}
  {%- when 'artist' -%}
    {%- assign ogImage = artist.image -%}
  {%- when 'genre' -%}
    {%- assign sortedGenreArtists = genre.artists | sortByPlaysDescending: "total_plays" -%}
    {%- assign ogImage =  sortedGenreArtists[0].image -%}
  {%- when 'watching' -%}
    {%- assign featuredMovie = movies.recentlyWatched | first -%}
    {%- assign ogImage = featuredMovie.backdrop -%}
  {%- when 'books' -%}
    {%- assign featuredBook = books | bookStatus: 'started' | reverse | first -%}
    {%- assign ogImage = featuredBook.image -%}
  {%- when 'book' -%}
    {%- assign ogImage = book.image -%}
  {%- when 'movie' -%}
    {%- assign ogImage = movie.backdrop -%}
  {%- when 'show' -%}
    {%- assign ogImage = meta.url | append: '/media/shows/backdrops/backdrop-' | append: show.tmdb_id | append: '.jpg' -%}
  {%- when 'genre' -%}
    {%- assign genreArtist = genre.artists | shuffleArray | first -%}
    {%- assign ogImage = genreArtist.image -%}
{%- endcase -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ pageTitle }}</title>
    <link rel="preload" href="/assets/fonts/MonoLisa.min.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/styles/index.css?v={% appVersion %}" type="text/css" />
    <script async data-id="101449513" src="/23af0256fe76a.js"></script>
    <link rel="canonical" href="{{ fullUrl }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta name="description" content="{{ pageDescription | escape | strip }}" />
    <meta property="og:description" content="{{ pageDescription | escape | strip }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ fullUrl }}" />
    <meta property="og:image" content="{{ ogImage }}" />
    <meta name="theme-color" content="{{ meta.themeColor }}" />
    <meta name="generator" content="Eleventy">
    <meta name="robots" content="noai, noimageai">
    <link href="/assets/icons/favicon.ico?v={% appVersion %}" rel="icon" sizes="any">
    <link href="/assets/icons/favicon.svg?v={% appVersion %}" rel="icon" type="image/svg+xml">
    <link href="/assets/icons/apple-touch-icon.png?v={% appVersion %}" rel="apple-touch-icon">
    <link rel="webmention" href="https://webmention.io/coryd.dev/webmention" />
    <link rel="pingback" href="https://webmention.io/coryd.dev/xmlrpc" />
    <link type="application/atom+xml" rel="alternate" title="{{ meta.siteName }}" href="https://feedpress.me/coryd">
    <link rel="alternate" type="application/json" title="{{ meta.siteName }}" href="https://feedpress.me/coryd.json" />
    <link rel="alternate" href="https://feedpress.me/coryd-follow" title="{{ meta.siteName }}'s activity feed" type="application/rss+xml">
    <link rel="alternate" href="https://feedpress.me/coryd-links" title="{{ meta.siteName }}'s links feed" type="application/rss+xml">
    <link rel="alternate" href="https://feedpress.me/coryd-books" title="{{ meta.siteName }}'s books feed" type="application/rss+xml">
    <link rel="alternate" href="https://feedpress.me/coryd-artist-charts" title="{{ meta.siteName }}'s artist charts feed" type="application/rss+xml">
    <link rel="alternate" href="https://feedpress.me/coryd-all" title="{{ meta.siteName }}'s activity feed" type="application/rss+xml">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebSite",
            "@id": "{{ meta.url }}#website",
            "url": "{{ meta.url }}",
            "name": "{{ pageTitle }}",
            "description": "{{ pageDescription }}",
            "inLanguage": "{{ meta.locale }}"
          },
          {%- if schema == 'blog' -%}
            {
              "@type": "BlogPosting",
              "mainEntityOfPage": { "@type": "WebPage" },
              "isPartOf": { "@id": "{{ meta.url }}#website" },
              "@id": "{{ fullUrl }}",
              "headline": "{{ pageTitle }}",
              "description": "{{ pageDescription }}",
              "image": "{{ image | default: meta.meta_data.opengraph_default }}",
              "inLanguage": "{{ meta.locale }}",
              "publisher": { "@type": "{{ meta.siteType }}", "name": "{{ meta.author }}", "url": "{{ meta.url }}" },
              "author": { "@type": "Person", "name": "{{ meta.author }}" },
              "datePublished": "{{ page.date | isoDateOnly: '.' }}"
            }
          {%- endif -%}
        ]
      }
    </script>
    <noscript>
      <style>.client-side {display:none}</style>
      <p><img width="1" height="1" src="/7afb285ad050d" /></p>
    </noscript>
  </head>
  <body>
    <script>
      (() => {
        const currentTheme = sessionStorage?.getItem('theme')
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches
        const root = document.getElementsByTagName('html')[0]
        if (!currentTheme) sessionStorage?.setItem('theme', (prefersDarkScheme ? 'dark' : 'light'))
        root.classList.add(`theme__${currentTheme || (prefersDarkScheme ? 'dark' : 'light')}`)
      })()
    </script>
    {{ content }}
  </body>
</html>