<div class="border-b border-gray-200 pb-8 dark:border-gray-700 mb-8 pb-8 dark:text-white text-gray-800">
    <a class="no-underline" href="/now"><h2 class="m-0 text-xl font-black leading-tight tracking-normal md:text-2xl text-primary-400 hover:text-primary-500 dark:hover:text-primary-300 mb-4">Now</h2></a>
    <p>I'm a software developer in Camarillo, California. I enjoy hanging out with my beautiful family and 4 rescue dogs, technology, automation, music, writing, reading and tv and movies.</p>
    <p>{{ status.emoji }} {{ status.content }}</p>
    <p class="mb-0"><a class="no-underline dark:text-white text-gray-800 font-normal" href={{nowplaying.url}}><span class="icon-inline mr-1">{% heroicon "solid" "music-note" "Now playing" "width=20 height=20" %}</span> {{nowplaying.title}} by {{nowplaying.artist}}</a></p>
</div>
