<nav class="flex justify-between mt-8 items-center">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">
      <button class="py-2 pr-4 text-primary-500 hover:text-primary-400" aria-label="Previous page">
        {% heroicon "solid" "arrow-left" "Prevous" "width=20 height=20" %}
      </button>
    </a>
  {% else %}
    <button
      class="py-2 pr-4 cursor-not-allowed disabled:opacity-50"
      aria-label="Previous page (disabled)"
      disabled>
      {% heroicon "solid" "arrow-left" "Prevous" "width=20 height=20" %}
    </button>
  {% endif %}

  <div class="flex flex-row items-center">
    <select id="pagination" class="block w-12 h-12 rounded-full text-white dark:text-gray-900 bg-primary-500 hover:bg-primary-500 dark:hover:bg-primary-300 mr-1 focus-visible:outline-none focus-visible:bg-primary-400 appearance-none text-center">
      {% for pageEntry in pagination.pages %}
        <option {% if page.url == pagination.hrefs[forloop.index0] %}selected{% endif %} value="{{ forloop.index }}">{{ forloop.index }}</option>
      {% endfor %}
    </select>
    <span>
      of {{ pagination.links.size }}</span>
  </div>


  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">
      <button class="py-2 pl-4 text-primary-500 hover:text-primary-400" aria-label="Next page">
        {% heroicon "solid" "arrow-right" "Next" "width=20 height=20" %}
      </button>
    </a>
  {% else %}
    <button
      class="py-2 pl-4 cursor-not-allowed disabled:opacity-50"
      aria-label="Next page (disabled)"
      disabled>
      {% heroicon "solid" "arrow-right" "Next" "width=20 height=20" %}
    </button>
  {% endif %}
</nav>