<nav class="flex justify-between mt-8 items-center">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">
      <button class="py-2 pr-4 text-primary-400 hover:text-primary-500 dark:hover:text-primary-300">Previous</button>
    </a>
  {% else %}
    <button class="py-2 pr-4 cursor-not-allowed disabled:opacity-50" disabled>Previous</button>
  {% endif %}

  {% for pageEntry in pagination.pages %}
    {% if page.url == pagination.hrefs[forloop.index0] %}
      <a href="{{ pagination.hrefs[forloop.index0] }}" aria-current="page">
        <button class="w-8 h-8 rounded-full text-white dark:text-gray-900 bg-primary-400 hover:bg-primary-500 dark:hover:bg-primary-300">
          {{ forloop.index }}
        </button>
      </a>
    {% else %}
      <a href="{{ pagination.hrefs[forloop.index0] }}">
        <button class="py-2 px-4">
          {{ forloop.index }}
        </button>
      </a>
    {% endif %}
  {% endfor %}


  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">
      <button class="py-2 pl-4">
        <button class="py-2 pl-4 text-primary-400 hover:text-primary-500 dark:hover:text-primary-300">Next</button>
      </button>
    </a>
  {% else %}
    <button class="py-2 pl-4 cursor-not-allowed disabled:opacity-50" disabled>Next</button>
  {% endif %}
</nav>
