---
layout: main
---

{% include "header.liquid" %}

<h2 class="text-xl md:text-2xl font-black leading-tight dark:text-gray-200 pt-12">{{title}}</h2>
<div class="mt-2 text-sm mb-4">
    <em>{{ date | date: "%m.%d.%Y" }}</em> • {% for tag in tags %}
    {% if tag != "posts" %}
      <a href="/tags/{{ tag }}" class="no-underline">
        <span class="post-tag">{{ tag }}</span>
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class="prose dark:prose-invert hover:prose-a:text-blue-500  max-w-full">
  {{ content }}
</div>

{% include "author.liquid" %}
