---
layout: main
---
{% include "header.liquid" %}
<article class="h-entry">
  <h2 class="p-name text-xl md:text-2xl font-black leading-tight dark:text-gray-200 pt-12">{{ title }}</h2>
  <span class="p-author h-card hidden">{{ site.title }}</span>
  <time class="pt-2 pb-6 text-sm dt-published" datetime="{{ date }}">{{ date | date: "%m.%d.%Y" }}</time>
  <div class="p-summary hidden">{{ post_excerpt | markdown }}</div>
  <div class="e-content prose dark:prose-invert hover:prose-a:text-blue-500  max-w-full text-gray-800 dark:text-white">
    {{ content }}
  </div>
</article>
{% include "post-tags.liquid" %}
{% include "webmentions.liquid" %}
{% include "author.liquid" %}
