---
layout: main
---
{% include "header.liquid" %}
<article class="h-entry" data-pagefind-body>
  <h2 class="p-name text-xl md:text-2xl font-black leading-tight dark:text-gray-200 pt-8" data-pagefind-meta="title">{{ title }}</h2>
  <span class="p-author h-card hidden">{{ site.title }}</span>
  <time class="mt-2 mb-6 block text-sm dt-published" datetime="{{ date }}">{{ date | readableDate }}</time>
  <div class="p-summary hidden">{{ post_excerpt | markdown }}</div>
  <div class="e-content prose dark:prose-invert hover:prose-a:text-blue-500  max-w-full text-gray-800 dark:text-white">
    {{ content }}
  </div>
</article>
{% include "post-tags.liquid" %}
{% include "webmentions.liquid" %}
{% include "author.liquid" %}
{% include "popular-posts.liquid" %}