{% if data.size > 0 %}
  {% assign media = data | normalizeMedia %}
  <h2 class="now__section--header">
    {% tablericon icon title %}
    {{ title }}
  </h2>
  <div class="media__grid {% if shape == 'square' %}square{% else %}vertical{% endif %}">
    {% for item in media limit: count %}
      {% assign alt = item.alt | strip %}
      <a href="{{ item.url | stripUtm }}" title="{{ alt | escape }}">
        <div class="item__wrapper">
          <div class="item__cover{% if item.subtext %} gradient{% endif %}"></div>
          <div class="item__meta-text">
            {% if item.title %}
              <div class="header">{{ item.title }}</div>
            {% endif %}
            {% if item.percentage %}
              {% render "partials/now/progress-bar.liquid", percentage:item.percentage %}
            {% endif %}
            {% if item.subtext %}
              <div class="subheader">
                {{ item.subtext }}
              </div>
            {% endif %}
          </div>
          {%- capture loadingStrategy -%}
            {%- if loading -%}
              {{ loading }}
            {%- else -%}
              'lazy'
            {%- endif -%}
          {%- endcapture -%}
          {% image item.image, alt, 'item__image', loadingStrategy %}
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}