{% if data.size > 0 %}
  {% assign media = data | normalizeMedia %}
  <div class="media__grid {% if shape == 'square' %}square{% else %}vertical{% endif %}">
    {% for item in media limit: count %}
      {% assign alt = item.alt | strip | escape %}
      <a href="{{ item.url | stripUtm }}" title="{{ alt }}">
        <div class="item__wrapper{% if item.subtext %} shadow{% endif %}">
          <div class="item__meta-text">
            {% if item.title %}
              <div class="header">{{ item.title }}</div>
            {% endif %}
            {% if item.percentage %}
              {% render "partials/now/progress-bar.liquid", percentage:item.percentage %}
            {% endif %}
            {% if item.subtext %}
              <div class="subheader">
                {{ item.subtext }}
              </div>
            {% endif %}
          </div>
          {%- capture loadingStrategy -%}
            {%- if loading -%}{{ loading }}{%- else -%}lazy{%- endif -%}
          {%- endcapture -%}
          {% image item.image, alt, '', loadingStrategy %}
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}