{% if data.size > 0 %}
  {% capture css %}
    {% render "../../../assets/styles/components/track-chart.css" %}
  {% endcapture %}
  <style>{{ css}}</style>
{% endif %}
<div class="track__chart">
  {% for item in data limit: 10 %}
  {% capture alt %}{{ item.track }} by {{ item.track }}{% endcapture %}
    <div class="track__chart--item">
      <div class="track__chart--meta">
        {% image item.image, alt, '', 'lazy', 80 %}
        <div class="track__chart--meta--text">
          <div class="track__chart--title">{{ item.track }}</div>
          <div class="track__chart--artists">
            <a href="{{ item.url }}">{{ item.artist }}</a>
          </div>
        </div>
      </div>
      <div class="track__chart--timestamp">
        {{ item.timestamp | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}
      </div>
    </div>
  {% endfor %}
</div>