{% if data.size > 0 %}
<div class="music-chart">
  {% for item in data limit: 10 %}
  {% capture alt %}{{ item.track | escape }} by {{ item.artist }}{% endcapture %}
    <div class="item">
      <div class="meta">
        {% image item.image, alt, '', 'lazy' %}
        <div class="meta-text">
          <div class="title">{{ item.track }}</div>
          <div class="subtext">
            <a href="{{ item.url }}">{{ item.artist }}</a>
          </div>
        </div>
      </div>
      <div class="timestamp">
        {{ item.timestamp | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}