{% if data.size > 0 %}
<div class="music-chart">
  {% for item in data limit: 10 %}
  {%- assign percentage = item.plays | calculatePlayPercentage: mostPlayed -%}
  <div class="item">
    <div class="presentation">
      <div class="count">{{ forloop.index }}.</div>
      <div class="info">
        <div class="title">{{ item.title }}</div>
        <div class="subtext">
          <a href="{{ item.url }}">{{ item.artist }}</a> • {{ item.plays }} plays
        </div>
      </div>
    </div>
    {% render "partials/now/progress-bar.liquid", percentage:percentage %}
  </div>
  {% endfor %}
</div>
{% endif %}