{%- assign categoryUrl = "/" | append: link | downcase -%}
{% if categoryUrl | isLinkActive: page.url %}
  <span class="active {{ class }}" aria-current="page">
    {% if icon %}
      {% tablericon icon link %}
      <span>{{ link }}</span>
    {% else %}
      {{ link }}
    {% endif %}
  </span>
{% else %}
  <a class="{% if icon %}{{ icon | downcase }} icon {% endif %}{{ class }}" href="{{ categoryUrl }}">
    {% if icon %}
      {% tablericon icon link %}
      <span>{{ link }}</span>
    {% else %}
      {{ link }}
    {% endif %}
  </a>
{% endif %}