<div class="music-chart">
  {% assign items = data.items | default: data %}
  {% for item in items limit: count | default: items.size %}
    {%- assign playTotal = playTotal | default: mostPlayed -%}
    {%- assign percentage = item.plays | calculatePlayPercentage: playTotal -%}
    <div class="item">
      <div class="presentation">
        <div class="count">{{ item.rank | formatNumber }}.</div>
        <div class="info">
          <div class="title">
            <a href="{{ item.url }}">{{ item.title }}</a>
          </div>
          {% capture playsLabel %}
            {% if item.plays > 1 %}
              plays
            {% else %}
              play
            {% endif %}
          {% endcapture %}
          <div class="subtext">{{ item.artist }} / {{ item.plays }} {{ playsLabel }}</div>
        </div>
      </div>
      {% render "partials/media/progress-bar.liquid", percentage:percentage %}
    </div>
  {% endfor %}
</div>
{% unless count %}
  {% render "partials/widgets/paginator.liquid", pagination:data %}
{% endunless %}