<div class="music-chart">
  {% for item in data limit: 10 %}
  {% capture alt %}{{ item.title | escape }} by {{ item.artist }}{% endcapture %}
    <div class="item">
      <div class="meta">
        <img
          srcset="
            https://cdn.coryd.dev{{ item.image }}?aspect_ratio=1:1&width=64 64w,
            https://cdn.coryd.dev{{ item.image }}?aspect_ratio=1:1&width=128 128w,
          "
          sizes="(max-width: 1000px) 64px,
            128px"
          src="https://cdn.coryd.dev{{ item.image }}?aspect_ratio=1:1&width=512"
          alt="{{ alt }}"
          loading="lazy"
          decoding="async"
          width="64"
          height="64"
        />
        <div class="meta-text">
          <div class="title">
            <a href="{{ item.url }}">{{ item.title }}</a>
          </div>
          <div class="subtext">{{ item.artist }}</div>
        </div>
      </div>
      <div class="timestamp">
        {{ item.timestamp | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}
      </div>
    </div>
  {% endfor %}
</div>