<div class="music-chart">
  {% for item in data limit: 10 %}
  {% capture alt %}{{ item.title | escape }} by {{ item.artist }}{% endcapture %}
    <div class="item">
      <div class="meta">
        <img
          srcset="
            https://coryd.dev/.netlify/images/?url={{ item.image }}&fit=cover&w=64&h=64&fm=webp&q=40 64w,
            https://coryd.dev/.netlify/images/?url={{ item.image }}&fit=cover&w=128&h=128&fm=webp&q=40 128w,
            https://coryd.dev/.netlify/images/?url={{ item.image }}&fit=cover&w=256&h=256&fm=webp&q=40 256w,
            https://coryd.dev/.netlify/images/?url={{ item.image }}&fit=cover&w=512&h=512&fm=webp&q=40 512w
          "
          sizes="(max-width: 450px) 64px,
            (max-width: 850px) 128px,
            (max-width: 1000px) 256px,
            512px"
          src="https://coryd.dev/.netlify/images/?url={{ item.image }}&fit=cover&w=512&h=512&fm=webp&q=40"
          alt="{{ alt }}"
          loading="lazy"
          decoding="async"
          width="64"
          height="64"
        />
        <div class="meta-text">
          <div class="title">
            <a href="{{ item.url }}">{{ item.title }}</a>
          </div>
          <div class="subtext">{{ item.artist }}</div>
        </div>
      </div>
      <div class="timestamp">
        {{ item.timestamp | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}
      </div>
    </div>
  {% endfor %}
</div>