<h2 id="album-releases" class="section-header flex-centered">
  {% tablericon "calendar-time" "Anticipated albums" %}
  Anticipated albums
</h2>
<ul class="link-list">
  {% for album in albumReleases %}
    <li>
      <strong>{{ album.date }}: </strong>
      <a href="{{ album.url}}" title="Learn more about {{ album.title | escape}} by {{ album.artist | escape}}">
        {{ album.title }}
      </a>
      <span> by </span>
      <a href="{{ album.artist_url }}" title="Learn more about {{ album.artist | escape }}">
        {{ album.artist }}
      </a>
    </li>
  {% endfor %}
</ul>