<div class="article-widget-wrapper">
  <div class="section-header-wrapper">
    <h2 class="section-header">
      {% tablericon "clock" "Recent posts" %}
      Recent posts
    </h2>
  </div>
  {%- for post in posts limit: 5 -%}
    <article>
      <time datetime="{{ post.date }}">
        {%- if post.featured -%}{% tablericon "star" "featured" %}{%- endif -%}
        {{ post.date | date: "%B %e, %Y" }}
      </time>
      <h3>
        <a href="{{ post.slug }}">{{ post.title }}</a>
      </h3>
      {{ post.description | normalize_whitespace | markdown | truncatewords: 50 }}
    </article>
  {%- endfor -%}
  <a class="icon-link" href="/posts">View all posts {% tablericon "arrow-right" "View all posts" %}</a>
</div>