<?xml version="1.0" encoding="UTF-8" ?>
<?xml-stylesheet href="/assets/styles/feed.xsl" type="text/xsl" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="{{ permalink | absoluteUrl }}" rel="self" type="application/rss+xml" />
    {%- assign entries = data | normalizeEntries: 20 -%}
    <title><![CDATA[{{ title }}]]></title>
    <description><![CDATA[{{ globals.site_description }}]]></description>
    <link>{{ permalink | absoluteUrl }}</link>
    <lastBuildDate>{{ updated | stringToRFC822Date }}</lastBuildDate>
    <image>
      <title><![CDATA[{{ title }}]]></title>
      <link>{{ permalink | absoluteUrl }}</link>
      <url>{{ "https://cdn.coryd.dev" | append: globals.avatar | append: "?class=w200" }}</url>
      <width>144</width>
      <height>144</height>
    </image>
    {% for entry in entries -%}
      {%- assign rating = entry.rating -%}
      {%- capture entryTitle -%}
        {{ entry.title }}
        {%- if entry.authors %} via {{ entry.authors.name }}{%- endif -%}
        {%- if rating %} ({{ rating }}){%- endif -%}
      {%- endcapture -%}
      {%- assign utm_parameters = "utm_source=rss&utm_medium=feed&utm_campaign=" | append: utm_campaign -%}
      <item>
        <title><![CDATA[{{ entryTitle }}]]></title>
        {%- if utm_campaign -%}
        <link>{{ entry.url | append: '?' | append: utm_parameters | encodeAmp }}</link>
        {%- else -%}
        <link>{{ entry.url | encodeAmp }}</link>
        {%- endif -%}
        <pubDate>{{ entry.date | stringToRFC822Date }}</pubDate>
        <guid isPermaLink="false">{{ entry.url | encodeAmp }}</guid>
        {%- if entry.image -%}
          <enclosure url="https://cdn.coryd.dev{{ entry.image }}?class=w800" type="image/jpeg" />
        {%- endif -%}
        <description>{{ entry.excerpt | escape }}</description>
      </item>
    {%- endfor %}
  </channel>
</rss>