<div class="music-chart">
  {%- assign items = data.items | default: data -%}
  <ol type="1">
    {%- for item in items limit: count | default: items.size -%}
      {%- assign playTotal = playTotal | default: mostPlayed -%}
      {%- assign percentage = item.plays | calculatePlayPercentage: playTotal -%}
      <li value="{{ item.rank }}">
        <div class="item">
          <div class="info">
            <a class="title" href="{{ item.url }}">{{ item.title }}</a>
            {%- capture playsLabel -%}
              {%- if item.plays > 1 -%}
                plays
              {%- else -%}
                play
              {%- endif -%}
            {%- endcapture -%}
            <span class="subtext">{{ item.artist }}</span>
            <span class="subtext">{{ item.plays }} {{ playsLabel }}</span>
          </div>
          {% render "partials/media/progress-bar.liquid", percentage:percentage %}
        </div>
      </li>
    {%- endfor -%}
  </ol>
</div>
{%- unless count -%}
  {% render "partials/nav/paginator.liquid", pagination:data %}
{%- endunless -%}