<div class="music-chart">
  {%- for item in data limit: 10 -%}
  {%- capture alt -%}{{ item.title | escape }} by {{ item.artist }}{%- endcapture -%}
    <div class="item">
      <div class="meta">
        <a href="{{ item.url }}">
          <img
            srcset="
              https://cdn.coryd.dev{{ item.image }}?class=w50&type=webp 50w,
              https://cdn.coryd.dev{{ item.image }}?class=w100&type=webp 100w
            "
            sizes="(max-width: 450px) 50px, 100px"
            src="https://cdn.coryd.dev{{ item.image }}?class=w50&type=webp"
            alt="{{ alt }}"
            loading="lazy"
            decoding="async"
            width="64"
            height="64"
          />
        </a>
        <div class="meta-text">
          <a class="title" href="{{ item.url }}">{{ item.title }}</a>
          <span class="subtext">{{ item.artist }}</span>
        </div>
      </div>
      <div class="timestamp">
        {{ item.timestamp | date: "%B %-d, %-I:%M%p", "America/Los_Angeles" }}
      </div>
    </div>
  {%- endfor -%}
</div>