<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    {%- assign entries = data | normalizeEntries -%}
    <title>{{ title }}</title>
    <description>{{ description }}</description>
    <link>{{ permalink | absoluteUrl: meta.url }}</link>
    <lastBuildDate>{{ updated }}</lastBuildDate>
    <image>
      <title>{{ title }}</title>
      <link>{{ permalink | absoluteUrl: meta.url }}</link>
      <url>{{ meta.url }}/assets/icons/feed-icon.png</url>
      <width>144</width>
      <height>144</height>
    </image>
    {% for entry in entries limit: 20 -%}
      <item>
        <title>{{ entry.title | escape }}</title>
        <link>{{ entry.url | stripUtm | encodeAmp }}</link>
        <pubDate>{{ entry.date | stringToDate | dateToRfc822 }}</pubDate>
        <guid>{{ entry.url | stripUtm | encodeAmp }}</guid>
        <description>{{ entry.excerpt | escape }}</description>
      </item>
    {%- endfor %}
  </channel>
</rss>