{%- assign pageCount = pagination.pages.size | default: 0 -%}
{%- assign hidePagination = pageCount <= 1 -%}
<div class="media-grid {% if shape == 'poster' -%}poster{%- elsif shape == 'square' -%}square{%- elsif shape == 'vertical' -%}vertical{%- endif -%}">
  {%- for item in data limit: count -%}
    {%- assign alt = item.grid.alt | replaceQuotes -%}
    <a href="{{ item.grid.url }}" title="{{ alt }}">
      <div class="item">
        <div class="meta-text">
          <div class="header">{{ item.grid.title }}</div>
          <div class="subheader">{{ item.grid.subtext }}</div>
        </div>
        {%- assign loadingStrategy = loading | default: 'lazy' -%}
        {%- if shape == 'poster' -%}
          <img
            srcset="
              {{ globals.cdn_url }}{{ item.grid.backdrop }}?class=bannersm&type=webp 256w,
              {{ globals.cdn_url }}{{ item.grid.backdrop }}?class=bannermd&type=webp 512w
            "
            sizes="(max-width: 450px) 256px, 512px"
            src="{{ globals.cdn_url }}{{ item.grid.backdrop }}?class=bannersm&type=webp"
            alt="{{ alt }}"
            loading="{{ loadingStrategy }}"
            decoding="async"
            width="256"
            height="170"
          />
        {%- elsif shape == 'square' -%}
          <img
            srcset="
              {{ globals.cdn_url }}{{ item.grid.image }}?class=squaresm&type=webp 200w,
              {{ globals.cdn_url }}{{ item.grid.image }}?class=squaremd&type=webp 400w
            "
            sizes="(max-width: 450px) 200px, 400px"
            src="{{ globals.cdn_url }}{{ item.grid.image }}?class=squaresm&type=webp"
            alt="{{ alt }}"
            loading="{{ loadingStrategy }}"
            decoding="async"
            width="200"
            height="200"
          />
        {%- elsif shape == 'vertical' -%}
        <img
          srcset="
            {{ globals.cdn_url }}{{ item.grid.image }}?class=verticalsm&type=webp 200w,
            {{ globals.cdn_url }}{{ item.grid.image }}?class=verticalmd&type=webp 400w
          "
          sizes="(max-width: 450px) 200px, 400px"
          src="{{ globals.cdn_url }}{{ item.grid.image }}?class=verticalsm&type=webp"
          alt="{{ alt }}"
          loading="{{ loadingStrategy }}"
          decoding="async"
          width="200"
          height="307"
        />
        {%- endif -%}
      </div>
    </a>
  {%- endfor -%}
</div>
{%- unless hidePagination -%}
  {% render "partials/nav/paginator.liquid", pagination:pagination %}
{%- endunless -%}