{%- assign hidePagination = count or data.pages.size <= 1 -%}
{%- assign media = data.items | default: data | normalizeMedia: count -%}
<div class="media-grid {% if shape == 'square' -%}square{%- else -%}vertical{%- endif -%}">
  {%- for item in media | default: media.size -%}
    {%- capture alt -%}{{ item.title | escape }} ({{ item.year }}){% endcapture %}
    {%- assign alt = item.alt | strip | escape -%}
    <a href="{{ item.url }}" title="{{ alt }}">
      <div class="item">
        <div class="meta-text">
          {%- if item.title -%}
            <div class="header">{{ item.title }}</div>
          {%- endif -%}
          {%- if item.plays -%}
            <div class="subheader">{{ item.plays }} plays</div>
          {%- elsif item.subtext -%}
            <div class="subheader">{{ item.subtext }}</div>
          {%- endif -%}
        </div>
        {%- assign loadingStrategy = loading | default: 'lazy' -%}
        {%- if shape == 'square' -%}
          <img
            srcset="
              https://cdn.coryd.dev{{ item.image }}?class=squaresm&type=webp 200w,
              https://cdn.coryd.dev{{ item.image }}?class=squaremd&type=webp 400w
            "
            sizes="(max-width: 450px) 200px, 400px"
            src="https://cdn.coryd.dev{{ item.image }}?class=squaresm&type=webp"
            alt="{{ alt }}"
            loading="{{ loadingStrategy }}"
            decoding="async"
            width="200"
            height="200"
          />
        {%- else -%}
        <img
          srcset="
            https://cdn.coryd.dev{{ item.image }}?class=verticalsm&type=webp 200w,
            https://cdn.coryd.dev{{ item.image }}?class=verticalmd&type=webp 400w
          "
          sizes="(max-width: 450px) 200px, 400px"
          src="https://cdn.coryd.dev{{ item.image }}?class=verticalsm&type=webp"
          alt="{{ alt }}"
          loading="{{ loadingStrategy }}"
          decoding="async"
          width="200"
          height="307"
        />
        {%- endif -%}
      </div>
    </a>
  {%- endfor -%}
</div>
{%- unless hidePagination -%}
  {% render "partials/nav/paginator.liquid", pagination:data %}
{%- endunless -%}