---
layout: null
permalink: /follow.xml
---
{% layout "./_includes/feeds/follow.liquid" %}
{% block title %}Follow • Cory Dransfeldt{% endblock %}
{% block self %}follow.xml{% endblock %}
{% block update %}{{ follow.posts[0].date_published | date: "%Y-%m-%dT%H:%M:%S-08:00" }}{% endblock %}
{% block entries %}
{% for item in follow.posts %}
  <entry>
    <title>{{ item.title | escape }}</title>
    <link href="{{item.url}}" />
    <updated>{{ item.date_published | date: "%m.%d.%Y" }}</updated>
    <id>{{ item.url }}</id>
    <content type="html"></content>
  </entry>
{% endfor %}
{% endblock %}