---
layout: null
permalink: /links.xml
---
{% layout "./_includes/feed-links.liquid" %}
{% block title %}Links • Cory Dransfeldt{% endblock %}
{% block self %}links.xml{% endblock %}
{% block update %}
  {{ articles | rssLastUpdatedDate }}{% endblock %}
{% block entries %}
  {% assign links = articles | reverse %}
  {% for link in links %}
    <entry>
      <title>{{ link.content.title | escape }}</title>
      <link href="{{link.content.url}}" />
      <updated>{{ link.content.library.last_favorited_date | date: "%m.%d.%Y" }}</updated>
      <id>{{ link.content.link }}</id>
      <content type="html">
        {{ link.excerpt | escape }}
      </content>
    </entry>
  {% endfor %}
{% endblock %}