---
layout: null
permalink: /links.xml
---
{% layout "./_includes/feed-links.liquid" %}
{% block title %}Links • Cory Dransfeldt{% endblock %}
{% block self %}links.xml{% endblock %}
{% block update %}{{ articles[0].time | date: "%Y-%m-%dT%H:%M:%S-08:00" }}{% endblock %}
{% block entries %}
{% for link in links %}
  <entry>
    <title>{{ link.title | escape }}</title>
    <link href="{{link.link}}" />
    <updated>{{ link.time | date: "%m.%d.%Y" }}</updated>
    <id>{{ link.link }}</id>
    <content type="html"></content>
  </entry>
{% endfor %}
{% endblock %}