---
layout: null
permalink: /links.xml
---
{% layout "./_includes/feeds/links.liquid" %}
{% block title %}Links • Cory Dransfeldt{% endblock %}
{% block self %}links.xml{% endblock %}
{% block update %}{{ links[0].date | date: "%Y-%m-%dT%H:%M:%S-08:00" }}{% endblock %}
{% block entries %}
{% for link in links %}
  <entry>
    <title>{{ link.title | escape }}</title>
    <link href="{{ link.url }}" />
    <updated>{{ link.date | date: "%m.%d.%Y" }}</updated>
    <id>{{ link.url | url_encode }}</id>
    <content type="html"></content>
  </entry>
{% endfor %}
{% endblock %}