{%- assign pageCount = pagination.pages.size | default: 0 -%}
{%- assign hidePagination = pageCount <= 1 -%}
<div class="watching grid">
  {%- for item in data limit: count -%}
    {%- assign alt = item.grid.grid.alt | strip | escape -%}
    <a href="{{ item.grid.url }}">
      <div class="watching item">
        <div class="meta-text">
          {%- if item.grid.type == 'movie' -%}
            <div class="header">{{ item.grid.title }}</div>
            <div class="subheader">
              {%- if item.grid.rating -%}
                <span class="rating"> {{ item.grid.rating }}</span>
              {%- endif -%}
              ({{ item.grid.year }})
            </div>
          {%- else -%}
            <div class="header">{{ item.grid.title }}</div>
            <div class="subheader">({{ item.grid.year }})</div>
          {%- endif -%}
        </div>
        {%- assign loadingStrategy = loading | default: 'lazy' -%}
        <img
          srcset="
            https://cdn.coryd.dev{{ item.grid.backdrop }}?class=bannersm&type=webp 256w,
            https://cdn.coryd.dev{{ item.grid.backdrop }}?class=bannermd&type=webp 512w
          "
          sizes="(max-width: 450px) 256px, 512px"
          src="https://cdn.coryd.dev{{ item.grid.backdrop }}?class=bannersm&type=webp"
          alt="{{ alt }}"
          loading="{{ loadingStrategy }}"
          decoding="async"
          width="256"
          height="170"
        />
      </div>
    </a>
  {%- endfor -%}
</div>
{%- unless hidePagination -%}
  {% render "partials/nav/paginator.liquid", pagination:pagination %}
{%- endunless -%}