{%- assign hidePagination = count or data.pages.size <= 1 -%}
<div class="watching grid">
  {%- assign items = data.items | default: mediaItems -%}
  {%- for item in items limit: count -%}
    {%- capture alt -%}{{ item.title | escape }} ({{ item.year }}){% endcapture %}
    <a href="{{ item.url }}">
      <div class="watching item">
        <div class="meta-text">
          {%- if item.type == 'movie' -%}
            <div class="header">{{ item.title }}</div>
            <div class="subheader">
              {%- if item.rating -%}
                <span class="rating"> {{ item.rating }}</span>
              {%- endif -%}
              ({{ item.year }})
            </div>
          {%- else -%}
            <div class="header">{{ item.title }}</div>
            <div class="subheader">({{ item.year }})</div>
          {%- endif -%}
        </div>
        {%- assign loadingStrategy = loading | default: 'lazy' -%}
        <img
          srcset="
            https://cdn.coryd.dev{{ item.backdrop }}?class=bannersm&type=webp 256w,
            https://cdn.coryd.dev{{ item.backdrop }}?class=bannermd&type=webp 512w
          "
          sizes="(max-width: 450px) 256px, 512px"
          src="https://cdn.coryd.dev{{ item.backdrop }}?class=bannersm&type=webp"
          alt="{{ alt }}"
          loading="{{ loadingStrategy }}"
          decoding="async"
          width="256"
          height="170"
        />
      </div>
    </a>
  {%- endfor -%}
</div>
{%- unless hidePagination -%}
  {% render "partials/nav/paginator.liquid", pagination:data %}
{%- endunless -%}