{%- capture alt -%}{{ movie.title | escape }} ({{ movie.year }}){%- endcapture -%}
<a href="{{ movie.url }}">
  <div class="watching hero">
    <div class="meta-text">
      <div class="header">{{ movie.title }} ({{ movie.year }})</div>
      <div class="subheader">
        Last watched on {{ movie.dateAdded | date: "%B %e, %Y" }}
        {%- if movie.rating -%}
          <span class="rating">({{ movie.rating }})</span>
        {%- endif -%}
      </div>
    </div>
    <img
      srcset="
        https://cdn.coryd.dev{{ movie.backdrop }}?class=bannersm 256w,
        https://cdn.coryd.dev{{ movie.backdrop }}?class=bannermd 512w,
        https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerbase 1024w,
        https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerlg 2048w
      "
      sizes="(max-width: 450px) 256px,
        (max-width: 850px) 512px,
        (max-width: 1000px) 1024px,
        2048px"
      src="https://cdn.coryd.dev{{ movie.backdrop }}?class=bannerlg"
      alt="{{ alt }}"
      loading="eager"
      decoding="async"
      width="1080"
      height="720"
    />
  </div>
</a>