{% assign hidePagination = count or data.pages.size <= 1 %}
{% assign media = data.items | default: data | normalizeMedia %}
<div class="media-grid {% if shape == 'square' %}square{% else %}vertical{% endif %}">
  {% for item in media limit: count | default: media.size %}
    {% assign alt = item.alt | strip | escape %}
    <a href="{{ item.url }}" title="{{ alt }}">
      <div class="item-wrapper shadow">
        <div class="meta-text">
          {% if item.title %}
            <div class="header">{{ item.title }}</div>
          {% endif %}
          {% if item.plays %}
            <div class="subheader">{{ item.plays }} plays</div>
          {% elsif item.subtext %}
            <div class="subheader">{{ item.subtext }}</div>
          {% endif %}
        </div>
        {% assign loadingStrategy = loading | default: 'lazy' %}
        {% if shape == 'square' %}
          <img
            srcset="
              https://cdn.coryd.dev{{ item.image }}?class=squaresm 200w,
              https://cdn.coryd.dev{{ item.image }}?class=squaremd 400w,
              https://cdn.coryd.dev{{ item.image }}?class=squarebase 800w,
              https://cdn.coryd.dev{{ item.image }}?class=squarelg 1200w
            "
            sizes="(max-width: 450px) 200px,
              (max-width: 850px) 400px,
              (max-width: 100px) 800px,
              1200px"
            src="https://cdn.coryd.dev{{ item.image }}?class=squarelg"
            alt="{{ alt }}"
            loading="{{ loadingStrategy }}"
            decoding="async"
            width="240"
            height="240"
          />
        {% else %}
          <img
            srcset="
              https://cdn.coryd.dev{{ item.image }}?class=verticalsm 200w,
              https://cdn.coryd.dev{{ item.image }}?class=verticalmd 400w,
              https://cdn.coryd.dev{{ item.image }}?class=verticalbase 800w,
              https://cdn.coryd.dev{{ item.image }}?class=verticallg 1200w
            "
            sizes="(max-width: 450px) 200px,
              (max-width: 850px) 400px,
              (max-width: 1000px) 800px,
              1200px"
            src="https://cdn.coryd.dev{{ item.image }}?class=verticallg"
            alt="{{ alt }}"
            loading="{{ loadingStrategy }}"
            decoding="async"
            width="200"
            height="307"
          />
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>
{% unless hidePagination %}
  {% render "partials/widgets/paginator.liquid", pagination:data %}
{% endunless %}