{% if data.size > 0 %}
<div class="music-chart">
  {% for item in data limit: 10 %}
  {%- assign percentage = item.plays | calculatePlayPercentage: mostPlayed -%}
  <div class="item">
    <div class="presentation">
      <div class="count">{{ item.rank | formatNumber }}.</div>
      <div class="info">
        <div class="title">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </div>
        <div class="subtext">{{ item.artist }} • {{ item.plays }} plays</div>
      </div>
    </div>
    {% render "partials/media/progress-bar.liquid", percentage:percentage %}
  </div>
  {% endfor %}
</div>
{% endif %}