{%- assign categoryUrl = url | downcase -%}
{%- assign isHttp = categoryUrl contains "http" -%}
{%- if categoryUrl | isLinkActive: page.url -%}
  <span class="active {{ class }}" aria-current="page">
    {%- if icon -%}
      {% tablericon icon %}
      <span>{{ title }}</span>
    {%- else -%}
      {{ title }}
    {%- endif -%}
  </span>
{%- else -%}
  <a class="{% if icon %}{{ icon | downcase }} icon {% endif %}{{ class }}" href="{{ categoryUrl }}" {% if isHttp -%} rel="me" {%- endif %} aria-label="{{ title }}">
    {%- if icon -%}
      {% tablericon icon %}
      <span>{{ title }}</span>
    {%- else -%}
      {{ title }}
    {%- endif -%}
  </a>
{%- endif -%}