{% if mentions['in-reply-to'].size > 0 %}
  <h2>Comments</h2>
  <div class="interaction comments">
    {% for mention in mentions['in-reply-to'] %}
      <div class="comment__wrapper flex--centered">
        <div class="comment__wrapper--interior flex--centered">
          <a href={{mention.url}}>
            <div class="avatar__wrapper flex--centered">
              <img
                src="{{ mention.author.photo }}"
                alt="{{ mention.author.name }}"
                class="avatar__image"
                onerror="this.onerror=null; this.src='/assets/img/icons/user.webp'" />
            </div>
          </a>
          <div class="comment">
            <a href={{mention.url}}>
              <p>{{ mention.content.text }}</p>
              <time>{{ mention.published | isoDateOnly }}</time>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}