{% assign hidePagination = count or data.pages.size <= 1 %}
<div class="watching grid{% if hidePagination %} no-pagination {% endif %}">
  {% assign items = data.items | default: mediaItems %}
  {% for item in items limit: count %}
    {% capture alt %}{{ item.title | escape }} ({{ item.year }}){% endcapture %}
    <a href="{{ item.url }}">
      <div class="watching item shadow">
        <div class="meta-text">
          {% if item.type == 'movie' %}
            <div class="header">{{ item.title }}</div>
            <div class="subheader flex-centered gap-xs">
              {{ item.year }}
              {% if rating and item.rating %}
                <span class="rating"> ({{ item.rating }})</span>
              {% endif %}
            </div>
          {% else %}
            <div class="header">{{ item.name }}</div>
          {% endif %}
        </div>
        {%- capture loadingStrategy -%}
          {%- if loading -%}{{ loading }}{%- else -%}lazy{%- endif -%}
        {%- endcapture -%}
        <img
          srcset="
            https://coryd-dev.b-cdn.net{{ item.backdrop }}?aspect_ratio=1:.5625&width=256 256w,
            https://coryd-dev.b-cdn.net{{ item.backdrop }}?aspect_ratio=1:.5625&width=512 512w,
            https://coryd-dev.b-cdn.net{{ item.backdrop }}?aspect_ratio=1:.5625&width=1024 1024w,
            https://coryd-dev.b-cdn.net{{ item.backdrop }}?aspect_ratio=1:.5625&width=2048 2048w
          "
          sizes="(max-width: 450px) 256px,
            (max-width: 850px) 512px,
            (max-width: 1000px) 1024px,
            2048px"
          src="https://coryd-dev.b-cdn.net{{ item.backdrop }}?aspect_ratio=1:.5625&width=2048"
          alt="{{ alt }}"
          loading="{{ loadingStrategy }}"
          decoding="async"
          width="256"
          height="144"
        />
      </div>
    </a>
  {% endfor %}
</div>
{% unless hidePagination %}
  {% render "partials/widgets/paginator.liquid", pagination:data %}
{% endunless %}