<div class="badge-grid">
  {%- for badge in badges limit: 8 -%}
    <a href="{{ badge.url }}">
      <img srcset="
          https://cdn.coryd.dev/{{ badge.image }}?class=w100&type=webp 100w,
          https://cdn.coryd.dev/{{ badge.image }}?class=w200&type=webp 200w
        " sizes="(max-width: 450px) 88px,
          200px"
        src="https://cdn.coryd.dev/{{ badge.image }}?class=w100&type=webp"
        alt="{{ badge.image_alt }}"
        loading="lazy"
        decoding="async"
        width="100"
        height="36"
      />
    </a>
  {%- endfor -%}
</div>