{% if links.size > 0 %}
<h2 id="links" class="link-list-header flex-centered">
  {% tablericon "link" "Links" %}
  Recent links
</h2>
<ul class="link-list">
  {% for link in links limit: 5 %}
    <li>
      <a href="{{ link.link }}" title="{{ link.title | escape }}">
        {{ link.title }}
      </a>
      {% if link.authors %} via <a href="{{ link.authors.url }}">{{ link.authors.name }}</a>{% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
